<!DOCTYPE HTML>
<!--
  Lens by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Klei en brons</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../lens/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../lens/images/favicon.ico" type="image/x-icon">
    <!--[if lte IE 8]><script src="../lens/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../lens/css/main.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../lens/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../lens/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="../lens/css/noscript.css" /></noscript>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87694519-3', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="is-loading-0 is-loading-1 is-loading-2">

    <!-- Main -->
      <div id="main">

        <!-- 'Back to home' button -->
          <% link_to '/' do %>
            <button type="button" class="back-to-home">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              dietemunneke.nl
            </button>
          <% end %>

        <!-- Mini-logo -->
          <img alt="logo" class="logo-nav" src="../bodo/images/logo-dita.png"></a>

        <!-- Header -->
          <header id="header">
            <h1>Portfolio</h1>
            <table style="width:100%">
              <tr>
                <td><%= link_to 'Acryl en olieverf', '/acryl-olieverf' %></td>
                <td class="current-category"><%= link_to 'Klei en brons', '/klei-brons' %></td>
              </tr>
              <tr>
                <td><%= link_to 'Aquarel, potlood en krijt', '/aquarel-potlood-krijt' %></td>
                <td><%= link_to 'Overige', '/overige' %></td>
              </tr>
            </table>
          </header>

        <!-- Thumbnail -->
          <section id="thumbnails">
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/34a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/34a.jpg" alt="" /></a>
              <h2>Kleinzoon</h2>
              <p>Brons, 16x14x18</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/34b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/34b.jpg" alt="" /></a>
              <h2>Kleinzoon</h2>
              <p>Brons, 16x14x18</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/33a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/33a.jpg" alt="" /></a>
              <h2>Windvang</h2>
              <p>Roodbakkende klei, 29x17x27</p>
            </article>


            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/33b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/33b.jpg" alt="" /></a>
              <h2>Windvang</h2>
              <p>Roodbakkende klei, 29x17x27</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/32a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/32a.jpg" alt="" /></a>
              <h2>Hoopvol</h2>
              <p>Roodbakkende klei, 30x24x18</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/32b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/32b.jpg" alt="" /></a>
              <h2>Hoopvol</h2>
              <p>Roodbakkende klei, 30x24x18</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/31a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/31a.jpg" alt="" /></a>
              <h2>Leergierig</h2>
              <p>Roodbakkende klei, 20x17x14</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/30a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/30a.jpg" alt="" /></a>
              <h2>Open</h2>
              <p>Roodbakkende klei, 21x18x9</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/30b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/30b.jpg" alt="" /></a>
              <h2>Open</h2>
              <p>Roodbakkende klei, 21x18x9</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/29.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/29.jpg" alt="" /></a>
              <h2>Dubbele dimensie</h2>
              <p>Roodbakkende klei, 23x15x14</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/28a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/28a.jpg" alt="" /></a>
              <h2>Naar binnen gekeerd</h2>
              <p>Roodbakkende klei, 23x16x12</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/28b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/28b.jpg" alt="" /></a>
              <h2>Naar binnen gekeerd</h2>
              <p>Roodbakkende klei, 23x16x12</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/27.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/27.jpg" alt="" /></a>
              <h2>Geborgen</h2>
              <p>Brons, 21cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/26.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/26.jpg" alt="" /></a>
              <h2>Ontluikend</h2>
              <p>Brons, 18cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/25.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/25.jpg" alt="" /></a>
              <h2>Visie</h2>
              <p>Brons, 13cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/24.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/24.jpg" alt="" /></a>
              <h2>Herfstvrucht</h2>
              <p>Brons, 10cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/23.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/23.jpg" alt="" /></a>
              <h2>Tegenwind</h2>
              <p>Brons, 13cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/22.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/22.jpg" alt="" /></a>
              <h2>Pril</h2>
              <p>Brons, 11cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/21.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/21.jpg" alt="" /></a>
              <h2>Argeloos</h2>
              <p>Brons, 15cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/20.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/20.jpg" alt="" /></a>
              <h2>Zes maanden</h2>
              <p>Brons, 26 cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/18.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/18.jpg" alt="" /></a>
              <h2>Zwanger (1)</h2>
              <p>Brons, 16cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/19.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/19.jpg" alt="" /></a>
              <h2>Zwanger (2)</h2>
              <p>Brons, 16cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/17.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/17.jpg" alt="" /></a>
              <h2>Onvolmaakt</h2>
              <p>Brons, 14cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/16.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/16.jpg" alt="" /></a>
              <h2>Zonder titel</h2>
              <p>13cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/15.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/15.jpg" alt="" /></a>
              <h2>Zonder titel</h2>
              <p>11cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/14.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/14.jpg" alt="" /></a>
              <h2>Zonder titel</h2>
              <p>Brons, 18cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/13a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/13a.jpg" alt="" /></a>
              <h2>Het zijn sterke benen ...</h2>
              <p>Brons, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/13b.jpg"><img src="../lens/images/klei-brons/thumbs/13b.jpg" alt="" /></a>
              <h2>Het zijn sterke benen ...</h2>
              <p>Brons, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/13c.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/13c.jpg" alt="" /></a>
              <h2>Het zijn sterke benen ...</h2>
              <p>Brons, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/12a.jpg"><img src="../lens/images/klei-brons/thumbs/12a.jpg" alt="" /></a>
              <h2>Altijd een mening</h2>
              <p>Brons, 22cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/12b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/12b.jpg" alt="" /></a>
              <h2>Altijd een mening</h2>
              <p>Brons, 22cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/12c.jpg"><img src="../lens/images/klei-brons/thumbs/12c.jpg" alt="" /></a>
              <h2>Altijd een mening</h2>
              <p>Brons, 22cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/11.jpg"><img src="../lens/images/klei-brons/thumbs/11.jpg" alt="" /></a>
              <h2>ILC (innate lymphoid cell)</h2>
              <p>Brons, ±15cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/10a.jpg"><img src="../lens/images/klei-brons/thumbs/10a.jpg" alt="" /></a>
              <h2>Geknield</h2>
              <p>Witte klei en acrylverf, 20cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/10b.jpg"><img src="../lens/images/klei-brons/thumbs/10b.jpg" alt="" /></a>
              <h2>Geknield</h2>
              <p>Witte klei en acrylverf, 20cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/10c.jpg"><img src="../lens/images/klei-brons/thumbs/10c.jpg" alt="" /></a>
              <h2>Geknield</h2>
              <p>Witte klei en acrylverf, 20cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/9.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/9.jpg" alt="" /></a>
              <h2>Modelboetseren</h2>
              <p>Witte klei, 20cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/8.jpg"><img src="../lens/images/klei-brons/thumbs/8.jpg" alt="" /></a>
              <h2>Winter</h2>
              <p>Donkere klei en acrylverf, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/7a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/7a.jpg" alt="" /></a>
              <h2>Zittende torso</h2>
              <p>Rode klei, 14cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/7b.jpg"><img src="../lens/images/klei-brons/thumbs/7b.jpg" alt="" /></a>
              <h2>Zittende torso</h2>
              <p>Rode klei, 14cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/6.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/6.jpg" alt="" /></a>
              <h2>Torso vrouw</h2>
              <p>Rode klei, 16cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/5.jpg"><img src="../lens/images/klei-brons/thumbs/5.jpg" alt="" /></a>
              <h2>Torso man</h2>
              <p>Achterzijde</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/4.jpg"><img src="../lens/images/klei-brons/thumbs/4.jpg" alt="" /></a>
              <h2>Torso man</h2>
              <p>Rode klei, 17cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/3.jpg"><img src="../lens/images/klei-brons/thumbs/3.jpg" alt="" /></a>
              <h2>Babykopje</h2>
              <p>'Gebronst' met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/2.jpg"><img src="../lens/images/klei-brons/thumbs/2.jpg" alt="" /></a>
              <h2>Babykopje</h2>
              <p>'Gebronst' met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/1.jpg"><img src="../lens/images/klei-brons/thumbs/1.jpg" alt="" /></a>
              <h2>Babykopje</h2>
              <p>Witte klei, 17cm</p>
            </article>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li>© <a href="http://html5up.net">HTML5 UP</a></li> /<li><a href="http://www.jurjenmunneke.nl">Jurjen Munneke</a></li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="../lens/js/jquery.min.js"></script>
      <script src="../lens/js/skel.min.js"></script>
      <!--[if lte IE 8]><script src="../lens/js/ie/respond.min.js"></script><![endif]-->
      <script src="../lens/js/main.js"></script>

  </body>
</html>
