<!DOCTYPE HTML>
<!--
  Lens by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Klei en brons</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../lens/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../lens/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../lens/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../lens/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="../lens/css/noscript.css" /></noscript>
  </head>
  <body class="is-loading-0 is-loading-1 is-loading-2">

    <!-- Main -->
      <div id="main">

        <!-- 'Back to home' button -->
          <% link_to '/' do %>
            <button type="button" class="back-to-home">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              ditamunneke.nl
            </button>
          <% end %>

        <!-- Mini-logo -->
          <img alt="logo" class="logo-nav" src="bodo/images/logo-dita.png"></a>

        <!-- Header -->
          <header id="header">
            <h1>Portfolio</h1>
            <table style="width:100%">
              <tr>
                <td><%= link_to 'Acryl en olieverf', '/acryl-olieverf' %></td>
                <td class="current-category"><%= link_to 'Klei en brons', '/klei-brons' %></td>
              </tr>
              <tr>
                <td><%= link_to 'Potlood en krijt', '/potlood-krijt' %></td>
                <td><%= link_to 'Overige', '/overige' %></td>
              </tr>
            </table>
          </header>

        <!-- Thumbnail -->
          <section id="thumbnails">
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/13a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/13a.jpg" alt="" /></a>
              <h2>Het zijn sterke benen die de weelde kunnen dragen</h2>
              <p>Brons, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/13b.jpg"><img src="../lens/images/klei-brons/thumbs/13b.jpg" alt="" /></a>
              <h2>Het zijn sterke benen die de weelde kunnen dragen</h2>
              <p>Brons, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/13c.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/13c.jpg" alt="" /></a>
              <h2>Het zijn sterke benen die de weelde kunnen dragen</h2>
              <p>Brons, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/12a.jpg"><img src="../lens/images/klei-brons/thumbs/12a.jpg" alt="" /></a>
              <h2>Altijd een mening</h2>
              <p>Brons, 22cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/12b.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/12b.jpg" alt="" /></a>
              <h2>Altijd een mening</h2>
              <p>Brons, 22cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/12c.jpg"><img src="../lens/images/klei-brons/thumbs/12c.jpg" alt="" /></a>
              <h2>Altijd een mening</h2>
              <p>Brons, 22cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/11.jpg"><img src="../lens/images/klei-brons/thumbs/11.jpg" alt="" /></a>
              <h2>ILC (innate lymphoid cell)</h2>
              <p>Brons, ±15cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/10a.jpg"><img src="../lens/images/klei-brons/thumbs/10a.jpg" alt="" /></a>
              <h2>Geknield</h2>
              <p>Witte klei, 20cm, geschilderd met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/10b.jpg"><img src="../lens/images/klei-brons/thumbs/10b.jpg" alt="" /></a>
              <h2>Geknield</h2>
              <p>Witte klei, 20cm, geschilderd met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/10c.jpg"><img src="../lens/images/klei-brons/thumbs/10c.jpg" alt="" /></a>
              <h2>Geknield</h2>
              <p>Witte klei, 20cm, geschilderd met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/9.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/9.jpg" alt="" /></a>
              <h2>Modelboetseren</h2>
              <p>Witte klei, 20cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/8.jpg"><img src="../lens/images/klei-brons/thumbs/8.jpg" alt="" /></a>
              <h2>Dame in jas</h2>
              <p>Bruine klei, 26cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/7a.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/7a.jpg" alt="" /></a>
              <h2>Zittende torso</h2>
              <p>Rode klei, 14cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/7b.jpg"><img src="../lens/images/klei-brons/thumbs/7b.jpg" alt="" /></a>
              <h2>Zittende torso</h2>
              <p>Rode klei, 14cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/6.jpg" data-position="center"><img src="../lens/images/klei-brons/thumbs/6.jpg" alt="" /></a>
              <h2>Torso vrouw</h2>
              <p>Rode klei, 16cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/5.jpg"><img src="../lens/images/klei-brons/thumbs/5.jpg" alt="" /></a>
              <h2>Torso man</h2>
              <p>Achterzijde</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/4.jpg"><img src="../lens/images/klei-brons/thumbs/4.jpg" alt="" /></a>
              <h2>Torso man</h2>
              <p>Rode klei, 17cm</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/3.jpg"><img src="../lens/images/klei-brons/thumbs/3.jpg" alt="" /></a>
              <h2>Babykopje</h2>
              <p>'Gebronst' met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/2.jpg"><img src="../lens/images/klei-brons/thumbs/2.jpg" alt="" /></a>
              <h2>Babykopje</h2>
              <p>'Gebronst' met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/klei-brons/fulls/1.jpg"><img src="../lens/images/klei-brons/thumbs/1.jpg" alt="" /></a>
              <h2>Babykopje</h2>
              <p>Witte klei, 17cm</p>
            </article>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="../lens/js/jquery.min.js"></script>
      <script src="../lens/js/skel.min.js"></script>
      <!--[if lte IE 8]><script src="../lens/js/ie/respond.min.js"></script><![endif]-->
      <script src="../lens/js/main.js"></script>

  </body>
</html>
