<!DOCTYPE HTML>
<!--
  Lens by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Acryl en olieverf</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../lens/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../lens/images/favicon.ico" type="image/x-icon">
    <!--[if lte IE 8]><script src="../lens/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../lens/css/main.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../lens/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../lens/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="../lens/css/noscript.css" /></noscript>
  </head>
  <body class="is-loading-0 is-loading-1 is-loading-2">

    <!-- Main -->
      <div id="main">

        <!-- 'Back to home' button -->
          <% link_to '/' do %>
            <button type="button" class="back-to-home">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              ditamunneke.nl
            </button>
          <% end %>

        <!-- Mini-logo -->
          <img alt="logo" class="logo-nav" src="../bodo/images/logo-dita.png"></a>

        <!-- Header -->
          <header id="header">
            <h1>Portfolio</h1>
            <table style="width:100%">
              <tr>
                <td class="current-category"><%= link_to 'Acryl en olieverf', '/acryl-olieverf' %></td>
                <td><%= link_to 'Klei en brons', '/klei-brons' %></td>
              </tr>
              <tr>
                <td><%= link_to 'Potlood en krijt', '/potlood-krijt' %></td>
                <td><%= link_to 'Overige', '/overige' %></td>
              </tr>
            </table>
          </header>

        <!-- Thumbnail -->
          <section id="thumbnails">
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/55a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/55a.jpg" alt="" /></a>
              <h2>Glas</h2>
              <p>Olieverf op linnen , 30x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/54.jpg"><img src="../lens/images/acryl-olieverf/thumbs/54.jpg" alt="" /></a>
              <h2>Wolken</h2>
              <p>Olieverf op linnen, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/53.jpg"><img src="../lens/images/acryl-olieverf/thumbs/53.jpg" alt="" /></a>
              <h2>Gouden bergen</h2>
              <p>Acryl op doek, 20x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/52.jpg"><img src="../lens/images/acryl-olieverf/thumbs/52.jpg" alt="" /></a>
              <h2>Dromerig</h2>
              <p>Acryl op doek, 20x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/51.jpg"><img src="../lens/images/acryl-olieverf/thumbs/51.jpg" alt="" /></a>
              <h2>Beschermengel</h2>
              <p>Acryl op linnen, 40x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/50.jpg"><img src="../lens/images/acryl-olieverf/thumbs/50.jpg" alt="" /></a>
              <h2>Stier in stijl</h2>
              <p>Olieverf op linnen 60x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/49.jpg"><img src="../lens/images/acryl-olieverf/thumbs/49.jpg" alt="" /></a>
              <h2>Kerstverbeelding 2016</h2>
              <p>Acryl op linnen, 30x30</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/48.jpg"><img src="../lens/images/acryl-olieverf/thumbs/48.jpg" alt="" /></a>
              <h2>Ongezien</h2>
              <p>Olieverf op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/47.jpg"><img src="../lens/images/acryl-olieverf/thumbs/47.jpg" alt="" /></a>
              <h2>Stilleven met appels en peer</h2>
              <p>Olieverf op doek, 40x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/46.jpg"><img src="../lens/images/acryl-olieverf/thumbs/46.jpg" alt="" /></a>
              <h2>Duinen</h2>
              <p>Acryl op doek, 80x160</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/46a.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/46a.jpg" alt="" /></a>
              <h2>Duinen</h2>
              <p>Acryl op doek, detail</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/46b.jpg"><img src="../lens/images/acryl-olieverf/thumbs/46b.jpg" alt="" /></a>
              <h2>Duinen</h2>
              <p>Acryl op doek, detail</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/46c.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/46c.jpg" alt="" /></a>
              <h2>Duinen</h2>
              <p>Acryl op doek, detail</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/45.jpg"><img src="../lens/images/acryl-olieverf/thumbs/45.jpg" alt="" /></a>
              <h2>Voorstudie duinen</h2>
              <p>Acryl op doek, 20x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/44.jpg"><img src="../lens/images/acryl-olieverf/thumbs/44.jpg" alt="" /></a>
              <h2>Voorstudie duinen</h2>
              <p>Acryl op doek, 20x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/43.jpg"><img src="../lens/images/acryl-olieverf/thumbs/43.jpg" alt="" /></a>
              <h2>Voorstudie duinen</h2>
              <p>Acryl op doek, 20x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/42.jpg"><img src="../lens/images/acryl-olieverf/thumbs/42.jpg" alt="" /></a>
              <h2>Voorstudie duinen</h2>
              <p>Acryl op doek, 40x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/41.jpg"><img src="../lens/images/acryl-olieverf/thumbs/41.jpg" alt="" /></a>
              <h2>Voorstudie duinen</h2>
              <p>Acryl op doek, 40x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/40.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/40.jpg" alt="" /></a>
              <h2>Voorstudie duinen</h2>
              <p>Acryl op doek, 60x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/39.jpg"><img src="../lens/images/acryl-olieverf/thumbs/39.jpg" alt="" /></a>
              <h2>Stilleven met appels</h2>
              <p>Acryl op doek, 40x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/38.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/38.jpg" alt="" /></a>
              <h2>Vrij!</h2>
              <p>Acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/37.jpg"><img src="../lens/images/acryl-olieverf/thumbs/37.jpg" alt="" /></a>
              <h2>Verbindend licht</h2>
              <p>Acryl op doek, 40x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/36.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/36.jpg" alt="" /></a>
              <h2>Peren 1</h2>
              <p>Acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/35.jpg"><img src="../lens/images/acryl-olieverf/thumbs/35.jpg" alt="" /></a>
              <h2>Peren 2</h2>
              <p>Acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/34.jpg"><img src="../lens/images/acryl-olieverf/thumbs/34.jpg" alt="" /></a>
              <h2>Ons gezin</h2>
              <p>Olieverf op doek, 60x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/33.jpg"><img src="../lens/images/acryl-olieverf/thumbs/33.jpg" alt="" /></a>
              <h2>Marokko</h2>
              <p>Acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/32.jpg"><img src="../lens/images/acryl-olieverf/thumbs/32.jpg" alt="" /></a>
              <h2>Ontpopping</h2>
              <p>Acryl op papier, maat 47x62</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/31.jpg"><img src="../lens/images/acryl-olieverf/thumbs/31.jpg" alt="" /></a>
              <h2>De kus, naar Klimt</h2>
              <p>Acryl op doek, 100x100</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/30.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/30.jpg" alt="" /></a>
              <h2>Je weg vinden</h2>
              <p>Acryl op doek, 40x40</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/30a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/30a.jpg" alt="" /></a>
              <h2>Ingebed</h2>
              <p>Acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/29.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/29.jpg" alt="" /></a>
              <h2>Engelenschaar</h2>
              <p>Kerst 2014, acryl op papier, 50x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/28.jpg"><img src="../lens/images/acryl-olieverf/thumbs/28.jpg" alt="" /></a>
              <h2>F&J</h2>
              <p>Acryl op doek, 100x100</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/27.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/27.jpg" alt="" /></a>
              <h2>F&J schets</h2>
              <p>Acryl op papier</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/26.jpg"><img src="../lens/images/acryl-olieverf/thumbs/26.jpg" alt="" /></a>
              <h2>Verliefd</h2>
              <p>Olieverf op doek, 60x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/25.jpg"><img src="../lens/images/acryl-olieverf/thumbs/25.jpg" alt="" /></a>
              <h2>Spoorlijn door straatje in Vietnam </h2>
              <p>Acryl op doek, 50x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/24.jpg"><img src="../lens/images/acryl-olieverf/thumbs/24.jpg" alt="" /></a>
              <h2>Naar Bonnard</h2>
              <p>Acryl op papier</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/23.jpg"><img src="../lens/images/acryl-olieverf/thumbs/23.jpg" alt="" /></a>
              <h2>Bethlehem</h2>
              <p>Kerst 2013, acryl op papier, 24x32</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/22.jpg"><img src="../lens/images/acryl-olieverf/thumbs/22.jpg" alt="" /></a>
              <h2>Naar voren tredend</h2>
              <p>Acryl op papier, 35x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/21.jpg"><img src="../lens/images/acryl-olieverf/thumbs/21.jpg" alt="" /></a>
              <h2>Terug tredend</h2>
              <p>Acryl op papier, 35x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/20.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/20.jpg" alt="" /></a>
              <h2>Terzijde</h2>
              <p>Acryl op papier, 35x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/19.jpg"><img src="../lens/images/acryl-olieverf/thumbs/19.jpg" alt="" /></a>
              <h2>Familieportret met moeder</h2>
              <p>Acryl op papier, 50x70</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/19a.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/19a.jpg" alt="" /></a>
              <h2>Abstractie</h2>
              <p>Acryl op papier, 20x29</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/19b.jpg"><img src="../lens/images/acryl-olieverf/thumbs/19b.jpg" alt="" /></a>
              <h2>Zonder moeder</h2>
              <p>Acryl op papier, 20x30</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/18.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/18.jpg" alt="" /></a>
              <h2>Vrij naar Helmantel</h2>
              <p>Acryl op papier, 50x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/17.jpg"><img src="../lens/images/acryl-olieverf/thumbs/17.jpg" alt="" /></a>
              <h2>Stilleven naar Helmantel</h2>
              <p>Acryl op doek, 100x100</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/16a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/16a.jpg" alt="" /></a>
              <h2>Simpelveld </h2>
              <p>Acryl op papier, 20x29</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/16b.jpg"><img src="../lens/images/acryl-olieverf/thumbs/16b.jpg" alt="" /></a>
              <h2>Simpelveld</h2>
              <p>Acryl op papier, 20x29</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/16c.jpg"><img src="../lens/images/acryl-olieverf/thumbs/16c.jpg" alt="" /></a>
              <h2>Simpelveld</h2>
              <p>Acryl op papier, 24x32</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/16d.jpg"><img src="../lens/images/acryl-olieverf/thumbs/16d.jpg" alt="" /></a>
              <h2>Simpelveld</h2>
              <p>Acryl op papier, 29x42</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/15.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/15.jpg" alt="" /></a>
              <h2>Engel</h2>
              <p>Kerst 2012, acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/14.jpg"><img src="../lens/images/acryl-olieverf/thumbs/14.jpg" alt="" /></a>
              <h2>Naar van Gogh</h2>
              <p>Olieverf op doek, 60x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/13.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/13.jpg" alt="" /></a>
              <h2>Eerste schoentjes</h2>
              <p>Ei-tempera op canvasboard, 24x30</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/12.jpg"><img src="../lens/images/acryl-olieverf/thumbs/12.jpg" alt="" /></a>
              <h2>Boogie woogie</h2>
              <p>Acryl op doek, 40x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/11.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/11.jpg" alt="" /></a>
              <h2>Twee dames kubistisch</h2>
              <p>Olieverf op doek, 50x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/10.jpg"><img src="../lens/images/acryl-olieverf/thumbs/10.jpg" alt="" /></a>
              <h2>Kind met pop</h2>
              <p>Olieverf op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/9a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/9a.jpg" alt="" /></a>
              <h2>Schaap met vijf poten</h2>
              <p>Acryl op doek, 20x30</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/9b.jpg"><img src="../lens/images/acryl-olieverf/thumbs/9b.jpg" alt="" /></a>
              <h2>Schaap met vijf poten</h2>
              <p>Detail</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/8.jpg"><img src="../lens/images/acryl-olieverf/thumbs/8.jpg" alt="" /></a>
              <h2>Moeders</h2>
              <p>Acryl op doek, 100x100</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/7a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/7a.jpg" alt="" /></a>
              <h2>Brandschilderen</h2>
              <p>Acryl op doek, 100x100</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/7b.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/7b.jpg" alt="" /></a>
              <h2>Brandschilderen</h2>
              <p>Detail</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/7c.jpg"><img src="../lens/images/acryl-olieverf/thumbs/7c.jpg" alt="" /></a>
              <h2>Brandschilderen</h2>
              <p>Detail</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/6.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/6.jpg" alt="" /></a>
              <h2>Opzienbarend</h2>
              <p>Acryl op doek, 50x70</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/6a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/6a.jpg" alt="" /></a>
              <h2>Naar model</h2>
              <p>Acryl op papier, 47x63</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/5.jpg" data-position="center"><img src="../lens/images/acryl-olieverf/thumbs/5.jpg" alt="" /></a>
              <h2>Helm</h2>
              <p>Acryl op papier, 10x15</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/4.jpg"><img src="../lens/images/acryl-olieverf/thumbs/4.jpg" alt="" /></a>
              <h2>Weissenbruchstraat-2</h2>
              <p></p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/3.jpg"><img src="../lens/images/acryl-olieverf/thumbs/3.jpg" alt="" /></a>
              <h2>Weissenbruchstraat-1</h2>
              <p></p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/2.jpg"><img src="../lens/images/acryl-olieverf/thumbs/2.jpg" alt="" /></a>
              <h2>Winkel in Jemen</h2>
              <p>Acryl op doek, 50x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/1a.jpg"><img src="../lens/images/acryl-olieverf/thumbs/1a.jpg" alt="" /></a>
              <h2>Ontkiemd</h2>
              <p>Acryl op doek, 40x60</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/acryl-olieverf/fulls/1b.jpg"><img src="../lens/images/acryl-olieverf/thumbs/1b.jpg" alt="" /></a>
              <h2>Ontkiemd</h2>
              <p>Detail</p>
            </article>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="../lens/js/jquery.min.js"></script>
      <script src="../lens/js/skel.min.js"></script>
      <!--[if lte IE 8]><script src="../lens/js/ie/respond.min.js"></script><![endif]-->
      <script src="../lens/js/main.js"></script>

  </body>
</html>
