<!DOCTYPE HTML>
<!--
  Lens by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Overige</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../lens/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../lens/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../lens/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../lens/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="../lens/css/noscript.css" /></noscript>
  </head>
  <body class="is-loading-0 is-loading-1 is-loading-2">

    <!-- Main -->
      <div id="main">

        <!-- Header -->
          <header id="header">
            <h1>Overige</h1>
            <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
          </header>

        <!-- Thumbnail -->
          <section id="thumbnails">
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/10.jpg" data-position="top center"><img src="../lens/images/overige/thumbs/10.jpg" alt="" /></a>
              <h2>Duinen klein</h2>
              <p>Collage, beschilderd met acrylverf</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/9.jpg"><img src="../lens/images/overige/thumbs/9.jpg" alt="" /></a>
              <h2>Bewerking modeltekening</h2>
              <p>Met acryl en lijm, 41x58</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/8.jpg" data-position="top center"><img src="../lens/images/overige/thumbs/8.jpg" alt="" /></a>
              <h2>Bewerking  modeltekening</h2>
              <p>Met geplakt crêpepapier, 32x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/7.jpg"><img src="../lens/images/overige/thumbs/7.jpg" alt="" /></a>
              <h2>Bewerking  modeltekening</h2>
              <p>Met geplakt crêpepapier, 29x41</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/6a.jpg" data-position="top center"><img src="../lens/images/overige/thumbs/6a.jpg" alt="" /></a>
              <h2>Knipwerk à la Matisse</h2>
              <p></p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/6b.jpg"><img src="../lens/images/overige/thumbs/6b.jpg" alt="" /></a>
              <h2>Knipwerk à la Matisse</h2>
              <p></p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/5.jpg"><img src="../lens/images/overige/thumbs/5.jpg" alt="" /></a>
              <h2>Tweeluik 2/2, Gedragen</h2>
              <p>Collage met acryl, 32,5x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/4.jpg"><img src="../lens/images/overige/thumbs/4.jpg" alt="" /></a>
              <h2>Tweeluik 1/2 Beschermd</h2>
              <p>Collage met acryl, 32,5x50</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/3.jpg"><img src="../lens/images/overige/thumbs/3.jpg" alt="" /></a>
              <h2>Omarming</h2>
              <p>Collage, acryl en krijt, 24x32</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/2.jpg"><img src="../lens/images/overige/thumbs/2.jpg" alt="" /></a>
              <h2>Kleurenfeest</h2>
              <p>Collage, acryl en krijt, 24x32</p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/1.jpg"><img src="../lens/images/overige/thumbs/1.jpg" alt="" /></a>
              <h2>Grijstinten</h2>
              <p>Oost-Indische inkt en potlood, 40x50 </p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/1a.jpg"><img src="../lens/images/overige/thumbs/1a.jpg" alt="" /></a>
              <h2>Grijstinten</h2>
              <p>Oost-Indische inkt en potlood, 13x17 </p>
            </article>
            <article>
              <a class="thumbnail" href="../lens/images/overige/fulls/1b.jpg"><img src="../lens/images/overige/thumbs/1b.jpg" alt="" /></a>
              <h2>Grijstinten</h2>
              <p>Oost-Indische inkt en potlood, 13x17 </p>
            </article>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="../lens/js/jquery.min.js"></script>
      <script src="../lens/js/skel.min.js"></script>
      <!--[if lte IE 8]><script src="../lens/js/ie/respond.min.js"></script><![endif]-->
      <script src="../lens/js/main.js"></script>

  </body>
</html>
