<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dita Munneke</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Dita Munneke" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
    <link rel="shortcut icon" href="bodo/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="bodo/images/favicon.ico" type="image/x-icon">

    <!--styles-->
    <link href="bodo/css/bootstrap.min.css" rel="stylesheet">
    <link href="bodo/css/owl.carousel.css" rel="stylesheet">
    <link href="bodo/css/owl.theme.css" rel="stylesheet">
<!--     <link href="bodo/css/magnific-popup.css" rel="stylesheet"> -->
    <link href="bodo/css/style.css" rel="stylesheet">
    <link href="bodo/css/responsive.css" rel="stylesheet">

    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--PRELOADER-->
    <div id="preloader">
      <div id="status">
        <img alt="logo" src="bodo/images/logo-big-dita.png">
      </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a href="index.html"><img alt="logo" class="logo-nav" src="bodo/images/logo-dita.png"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
              <span>Home</span>
            </a>
           <a data-scroll="" href="#work">
              <span>Portfolio</span>
            </a>
            <a data-scroll="" href="#about">
              <span>Over Dita</span>
            </a>
            <a data-scroll="" href="#contact">
              <span>Contact</span>
            </a>
          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->

    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--WORK-->
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Portfolio</span>
                </h3>
                <p class="content-detail">
                  Leuk dat je een kijkje komt nemen op deze website. Je vindt hier een overzicht van mijn werk, verdeeld over vier categorieën. De werken in iedere categorie worden chronologisch weergegeven, waarbij het nieuwste werk bovenaan wordt getoond.<br><br>Een deel van deze werken heeft intussen een plekje gevonden bij ons thuis of in de huizen van familie en vrienden. Mocht je geïnteresseerd zijn in het een of ander, laat het dan weten. Voor wie wil reageren: onderaan vind je een contactformulier.<br><br>Veel plezier met kijken!
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--PORTFOLIO IMAGE-->
                <ul class="portfolio-image">
                  <li class="col-md-6">
                    <% link_to '/acryl-olieverf' do %>
                      <img alt="image" src="bodo/images/cat-acryl.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                           <p class="desc">Acryl en olieverf</p>
                        </div>
                      </div>
                    <% end %>
                  </li>
                  <li class="col-md-6">
                    <% link_to '/klei-brons' do %>
                      <img alt="image" src="bodo/images/cat-brons.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Klei en brons
                          </p>
                        </div>
                      </div>
                    <% end %>
                  </li>
                  <li class="col-md-6">
                    <% link_to '/potlood-krijt' do %>
                      <img alt="image" src="bodo/images/cat-krijt.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Potlood en krijt
                          </p>
                        </div>
                      </div>
                    <% end %>
                  </li>
                  <li class="col-md-6">
                    <% link_to '/overige' do %>
                      <img alt="image" src="bodo/images/cat-overige.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Overige
                          </p>
                        </div>
                      </div>
                    <% end %>
                  </li>
                </ul>
                <!--/.PORTFOLIO IMAGE END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->

        <!--ABOUT-->
        <section id="about">
          <div class="col-md-6 col-xs-12 no-pad">
            <div class="bg-about"></div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 white-col">
            <div class="row">
              <!--OWL CAROUSEL2-->
              <div class="owl-carousel2">
                <div class="col-md-12">
                  <div class="wrap-about">
                    <div class="w-content">
                      <p class="head-about">
                        In 2011 ben ik begonnen met schilderles bij Robert Bosari in de Meerpaal in Dronten. Toen Robert Bosari in 2015 met pensioen ging ben ik doorgegaan met schilderles bij Peter Hartwig in de Kubus in Lelystad. Ook maakte ik in die tijd een begin met  boetseer-/beeldhouwlessen bij Robert Bosari aan huis. Al snel daarna kreeg ik de mogelijkheid om een deel van ‘Atelier Fjordje’ te huren bij De Open Haven in Lelystad. Sindsdien werk ik met veel plezier in deze inspirerende omgeving, samen met Robert, Coby en Ineke.
                      </p>
                      <h5 class="name">
                        Dita Munneke
                      </h5>
                      <img alt="signature" src="bodo/images/signature-dita.png">
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 white-col">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                      <div class="wrap-about">
                        <table class="w-content">
                          <tr>
                            <td class="title">Naam </td>
                            <td class="break">:</td>
                            <td> Dita Munneke</td>
                          </tr>
                          <tr>
                            <td class="title">Email </td>
                            <td class="break">:</td>
                            <td> ditamunneke@live.nl</td>
                          </tr>
                          <tr>
                            <td class="title">Adres atelier </td>
                            <td class="break">:</td>
                            <td> Fjord 155 , 8224 DJ, Lelystad</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.OWL CAROUSEL2 END-->
            </div>
          </div>
        </section>
        <!--/.ABOUT END-->

        <!--CONTACT-->
        <section id="contact" class="grey-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Contact</span>
                </h3>
                <p class="content-detail">
                </p>
              </div>
              <div class="col-md-9 content-right">
                <form action="https://formspree.io/ditamunneke@live.nl"
                      method="POST">
                  <div class="group">
                    <input required="" type="text" name="naam"><span class="highlight"></span><span class="bar"></span><label>Naam</label>
                  </div>
                  <div class="group">
                    <input required="" type="email" name="_replyto"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <textarea required="" name="bericht"></textarea><span class="highlight"></span><span class="bar"></span><label>Bericht</label>
                  </div>
                  <input id="sendMessage" type="submit" value="Verstuur Bericht">
                  <input type="hidden" name="_next" value="/bericht-verzonden" />
                  <input type="hidden" name="_subject" value="Bericht via ditamunneke.nl" />
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--/.CONTACT END-->

        <!--FOOTER-->
        <footer>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <% link_to '/' do %>
                  <img src="bodo/images/logo-bottom-dita.png" alt="crafted with love" class="center-block" />
                <% end %>
              </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>


    <script src="bodo/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="bodo/js/jquery.appear.js" type="text/javascript"></script>
    <script src="bodo/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bodo/js/classie.js" type="text/javascript"></script>
    <script src="bodo/js/owl.carousel.min.js" type="text/javascript"></script>
<!--     <script src="bodo/js/jquery.magnific-popup.min.js" type="text/javascript"></script> -->
    <script src="bodo/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="bodo/js/masonry.js" type="text/javascript"></script>
    <script src="bodo/js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="bodo/js/typed.js" type="text/javascript"></script>
    <script src="bodo/js/main.js" type="text/javascript"></script>
  </body>
</html>
